[submodule "hp/static/alertify"]
	path = hp/static/alertify
	url = https://github.com/fabien-d/alertify.js.git
[submodule "hp/static/coffee-script"]
	path = hp/static/coffee-script
	url = https://github.com/jashkenas/coffee-script
[submodule "hp/static/bootstrap-datepicker"]
	path = hp/static/bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
