--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/

Django
django-compressor
pinax-theme-bootstrap==2.0.4
pinax-theme-bootstrap-account==1.0b2
django-user-accounts==1.0b3
django-forms-bootstrap==2.0.3.post1
django-crispy-forms
-e git+https://github.com/francepremium/django-appstore.git#egg=appstore
-e git+https://github.com/francepremium/django-form-designer.git#egg=form_designer
django-annoying
django-session-security
pinax-utils==1.0b1.dev3
django-debug-toolbar
django-autocomplete-light
-e git+git://github.com/gkuhn1/django-admin-templates-twitter-bootstrap.git#egg=admin-bootstrap
south
django-rules-light
-e hg+https://jpic@bitbucket.org/jpic/django-jsonfield#egg=jsonfield
-e git+https://github.com/niwibe/djorm-ext-pgfulltext.git#egg=pgfulltext
django-rosetta
longerusername
django-tables2
