{% extends 'site_base.html' %}

{% load i18n %}
{% load url from future %}

{% block before_body %}
<h1>{% trans 'Account settings' %}</h1>

<ul class="nav nav-tabs">
    <li><a href="{% url "account_settings" %}">{% trans "Settings" %}</a></li>
    <li><a href="{% url "account_password" %}">{% trans "Change password" %}</a></li>
    <li><a href="{% url "account_delete" %}">{% trans "Delete account" %}</a></li>
</ul>
{% endblock %}

{% block extra_head %}
<style type="text/css">
    form legend { display: none; }
</style>
{% endblock %}
