{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}Delete Account{% endblock %}

{% block body %}
    
    <div class="tab-content">
        <div class="tab-pane active"><h1>{% trans 'Delete account' %}</h1>
            <p>{% blocktrans %}If you go ahead and delete your account, your information will be expunged within {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} hours{% endblocktrans %}.</p>
    
    <form method="post" action="{% url account_delete %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans 'Delete My Account' %}</button>
    </form></div>
    </div>
{% endblock %}
