{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name=email]').focus();
    });
</script>
{% endblock %}

{% block extra_head %}
<style type="text/css">
    #div_id_remember { display: none }
</style>
{% endblock %}

{% block body %}
<h1>{% trans "Log in to an existing account" %}</h1>
    <div class="bloc-content">
        <div class="span8">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="submit-bloc">
                    
                    <button onclick="javascript:this.disabled=1; this.form.submit();" type="submit" class="btn">{% trans "Log in" %}</button>   
					<a href="{% url "account_password_reset" %}">{% trans "Forgot your password?" %}</a>
                </div>
            </form>
        </div>
        <div class="span4">
            {% include "account/_login_sidebar.html" %}
        </div>
    </div>
{% endblock %}