{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}<h1>{% trans "Log out" %}</h1>
    <div class="bloc-content">
        <div class="span8">
            <form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
               
                <fieldset>
                    {% csrf_token %}
                    <p>{% trans "Are you sure you want to log out?" %}</p>
                    
                        <button type="submit" class="btn">{% trans "Log out" %}</button>
                   
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}