{% extends "account/base.html" %}

{% load url from future %}
{% load bootstrap_tags %}

{% load i18n %}
{% block head_title %}Account{% endblock %}

{% block body %}
<div class="tab-content">
    	<div class="tab-pane active">
    <form method="POST" action="{% url "account_settings" %}">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="submit-bloc">
            <button class="btn" type="submit">{% trans 'Save' %}</button>
        </div>
    </form></div></div>
{% endblock %}
