{% load i18n %}

{% if app in request.session.appstore_environment.installed_apps %}

<a href="#uninstall_{{ app|slugify }}" role="button" class="btn uninstall" data-toggle="modal">{% trans 'Uninstall' %}</a>

<div class="modal" id="uninstall_{{ app|slugify }}" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Install' %}" aria-hidden="true" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans 'Uninstall' %} {{ app }}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% trans 'Are you sure you want to uninstall' %}
            {{ app }}
            {% trans 'from environment' %}
            {{ request.session.appstore_environment }}
            ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        <button class="btn btn-primary" data-appstore-app-action="uninstall" data-appstore-app-url="{{ app.get_absolute_url }}">{% trans 'Uninstall' %}</button>
    </div>
</div>

{% else %}

<a href="#install_{{ app|slugify }}" role="button" class="btn install" data-toggle="modal">{% trans 'Install' %}</a>

<div class="modal hidden" id="install_{{ app|slugify }}" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Install' %}" aria-hidden="true" style="display: none">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{% trans 'Install' %} {{ app }}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% trans 'Are you sure you want to install' %}
            {{ app }}
            {% trans 'in environment' %}
            {{ request.session.appstore_environment }}
            ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        <button class="btn btn-primary" data-appstore-app-action="install" data-appstore-app-url="{{ app.get_absolute_url }}">{% trans 'Install' %}</button>
    </div>
</div>

{% endif %}
