{% extends 'appstore/base.html' %}

{% load i18n %}
{% load url from future %}

{% block extra_head %}
<style type="text/css">
    #div_id_editor {
        display: none;
    }
</style>
{% endblock %}

{% block before_body %}
<h1>{% trans 'Create app' %}</h1>
{% if app.pk %}

    <ul class="nav-tabs nav app-nav">
        <li>
            <a href="{% url 'appstore_app_update' app.pk %}">{% trans 'App' %}</a>
        </li>
        {% if app.editor %}
            {% include app.editor_module_name|add:'/links.html' %}
        {% endif %}
        <li>
            <a href="{% url 'appstore_app_deploy' app.pk %}">{% trans 'Deploy' %}</a>
        </li>
    </ul>
	
{% endif %}
<div class="bloc-content {% if app.pk %}ui-tabs-panel{% endif %}">
{% endblock %}

{% block after_body %}</div>
{% endblock %}
{% block extra_body %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.app-nav li a').each(function() {
            if ($(this).attr('href') == window.location.pathname) {
                $(this).parent().addClass('active');
            }
        });
    });
</script>
{% endblock %}
