{% extends 'appstore/base.html' %}

{% load i18n %}

{% block body %}
<style type="text/css">.active { background-color: lightgreen; }</style>

<h1>{{ object }}</h1>

<div>
<div class="sidebar left">
	<h3 class="filter_title">{% trans 'Categories' %}</h3>
    <ul class="filter">
    	
        {% for appcategory in appcategory_list %}
        <li class="{% if appcategory == object %}active{% endif %}">
            <a href="{{ appcategory.get_absolute_url }}">{{ appcategory }}</a>
        </li>
        {% endfor %}
    </ul>

    {% if tag_list|length or request.GET.tag %}
    <h3 class="filter_title">{% trans 'Tags' %}</h3>
    <ul class="filter">
        {% for tag in tag_list %}
        <li class="{% if request.GET.tag == tag.name %}active{% endif %}">
            <a href="?tag={% if request.GET.tag != tag.name %}{{ tag }}{% endif %}">{{ tag.name }}</a>
        </li>
        {% empty %}
        <li class="active">
            <a href="?tag=">{{ request.GET.tag }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="main">
<table class="table">
	<tbody>
    {% for app in app_list %}
    <tr>
        <td>
            <img src="{{ app.image.url }}" />
        </td>
        <td>
            <a href="{{ app.get_absolute_url }}" 
                title="{% trans 'View' %} {{ app }}"
                >{{ app }}</a>
        </td>
        <td>
            {{ app.description }}
        </td>
        <td>
            {% include 'appstore/_app_install_button.html' with env=request.session.appstore_environment %}
        </td>
    </tr>
    {% endfor %}
	</tbody>
</table>
</div>
</div>
{% endblock %}
