{% extends 'appstore/base.html' %}

{% load i18n %}
{% load url from future %}
{% load bootstrap_tags %}

{% block body %}
<h1>{% trans 'Environment' %}</h1>
<div class="alert alert-info">
	???
</div>
<div class="row bloc-content">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit" class="btn">{% trans 'Submit' %}</button>
    </form>
</div>
<h2>{% trans 'My apps' %}</h2>
<div class="alert alert-info">
Liste des applications déjà installées, raccourci pour accéder à la configratio nde chacune d'elles.</div>
    <table>
        {% for app in object.apps.all %}
        <tr>
            <td>{{ app.name }}</td>
            <td>{{ app.description }}</td>
            <td>{% if app.deployed %}{% trans 'Deployed' %}{% else %}{% trans 'Not deployed' %}{% endif %}</td>
            <td>{% if app.superseeds and not app.deployed %}{% trans 'Superseeds' %}{% endif %}</td>
            <td>
                {% include 'appstore/_app_install_button.html' with env=object %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'appstore_app_create' %}">{% trans 'Create app' %}</a>

{% endblock %}
