.dragging {
    width: 20px;
    background-color: red;
}

.droppable-target {
    background-color: green;
}

.placeholder {
    width: 0px;
}

.placeholder.usable {
    width: 20px;
    background-color: #90EE90;
    border-color: #90EE90;
}

.placeholder.usable.active {
    width: 100px;
    background-color: green;
    border-color: green;
}
