{% load i18n %}
{% load url from future %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{ request.session.appstore_environment|default:'Hello Publisher' }}</a>
            
                <div class="nav-collapse">
                    {% if request.user.is_authenticated %}
                    <ul class="nav">
                        {% if request.session.appstore_environment.deployed_apps|length %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Add' %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for app in request.session.appstore_environment.deployed_apps %}
                                <li><a href="{% url 'formapp_record_create' app.pk %}">{{ app.appform.form.verbose_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Browse' %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for feature in request.session.appstore_environment.features.distinct %}
                                <li><a href="{% url 'fusion_list_detail' feature.pk %}">{{ feature }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Configure' %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'appstore_env_update' request.session.appstore_environment.pk %}">{% trans 'Environment' %}</a></li>
                                <li><a href="{% url 'appstore_userenvironment_list' request.session.appstore_environment.pk %}">{% trans 'Users' %}</a></li>
                                <!--
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                -->
                            </ul>
                        </li>
                    </ul>
					<div class="search_container">
                        <form class="navbar-search pull-left" action="{% url 'formapp_record_search' %}">
                            <input type="text" class="search-query" placeholder="Search" name="q">
                        </form>
					</div>
                    {% endif %}
                    <ul class="nav pull-right">
                       
                        {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }}<b class="caret"></b></a>
                            <div class="dropdown-menu dropdown-box">
                            	<ul>
                            	<li class="subtitle">{% trans 'My environment' %}</li>
                                {% for environment in request.user.environment_set.all %}
                                <li class="{% if environment == request.session.appstore_environment %}active{% endif %}">
                                    <a href="{% url 'appstore_env_activate' environment.pk %}">{{ environment }}</a>
                                </li>
                                {% endfor %}
                                
                                <li>
                                    <a href="{% url 'appstore_env_create' %}">{% trans 'Create new environment' %}</a>
                                </li>
								</ul>
								<ul class="settings">
								<li class="subtitle">{% trans 'My account' %}</li>
                                <li>
                                    <a href="{% url 'account_settings' %}">{% trans 'Account settings' %}</a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
                                </li></ul>
                            </div>
                        </li>
                        {% else %}
						<li>
                            <a href="{% url 'account_login' %}" class="btn">{% trans 'Login' %}</a>
                        </li>
                        <li class="tex">{% trans 'or' %}</li>
                        <li>
                            <a href="{% url 'account_signup' %}" class="btn btn-red">{% trans 'Signup' %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
