    {% load i18n compress %}
    <html>
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if DEBUG %}
            <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" charset="utf-8" type="text/less" rel="stylesheet">
            <script type="text/javascript" src="{{ STATIC_URL }}less.js" ></script>
        {% else %}
            {% compress css %}
            <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" charset="utf-8" type="text/less" rel="stylesheet">
            {% endcompress %}
        {% endif %}
        
        {% block extra_head %}{% endblock %}
    </head>
    <body>
    <!-- <h1 id="print_name">{{ SITE_NAME }}</h1>-->

    {% include '_navbar.html' %}
        
    <div class="container-fluid top-margin">
        {% block content %}
            {% block body %}
            {% endblock %}
        {% endblock %}
    </div>
	{% include '_footer.html' %}
	
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/docs/assets/js/bootstrap.min.js"></script>
    {% include 'session_security/all.html' %}


    {% if not request.user.is_authenticated %}
        {% include '_login_or_signup_modal.html' %}
        <script type="text/javascript">
        $(document).ready(function() {
            $(this).bind('appstore.app.require_env', function(e) {
                $('#login_or_signup').modal('show').find('input[name=next]').val($(e.target).data('appstoreAppUrl'));
            });
        });
        </script>
    {% endif %}
    
    
    {% block extra_body %}{% endblock %}

</body>
</html>
