{% load i18n compress %}
<html>
<head>
    <title>Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if DEBUG %}
        <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" charset="utf-8" type="text/less" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap/less/responsive.less" rel="stylesheet">
        <script type="text/javascript">less = {}; less.env = 'development';</script>
        <script type="text/javascript" src="http://lesscss.googlecode.com/files/less-1.3.0.min.js" ></script>
    {% else %}
        {% compress css %}
        <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" charset="utf-8" type="text/less" rel="stylesheet">
        {% endcompress %}
    {% endif %}
    
    {% block extra_head %}{% endblock %}
</head>
<body>
  <h1 id="print_name">{{ SITE_NAME }}</h1>
   <!--<div class="breadcrumb navbar-fixed-top">
       <ul>
           <li>
               <a href="#">Home</a>
               <span class="divider">/</span>
           </li>
           <li>
               <a href="#">Library</a>
               <span class="divider">/</span>
           </li>
           <li class="active">
               Data
           </li>
       </ul>
   </div>-->
    {% include '_navbar.html' %}
        
    <div class="container-fluid top-margin">
        {% block before_body %}
        {% endblock %}

        {% block content %}
            {% block body %}
            {% endblock %}
        {% endblock %}
    </div>
    
    {% include '_footer.html' %}
	
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/docs/assets/js/bootstrap.min.js"></script>

    {% block jquery_cookie %}
        <script src="{{ STATIC_URL }}form_designer/jquery.cookie.js" type="text/javascript"></script>
    {% endblock %}
    {% block js_var_csrftoken %}
        <script type="text/javascript">
            var csrftoken = $.cookie('csrftoken');
            {% include 'form_designer/origin_security.js' %}
        </script>
    {% endblock %}


    {% include 'autocomplete_light/static.html' %}
    {% include 'session_security/all.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('[rel=tooltip]').tooltip();
            $('[rel=popover]').popover();
            
            $(this).bind('appstore.app.action', function(e, btn) {
                location.reload();
            });
            
            $(this).bind('appstore.app.error', function(e, jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
                $('.modal:visible').modal('hide');
            });
        });
    </script>

    {% if not request.user.is_authenticated %}
        {% include '_login_or_signup_modal.html' %}
        <script type="text/javascript">
        $(document).ready(function() {
            $(this).bind('appstore.app.require_env', function(e) {
                $('.modal:visible').modal('hide');
                $('#login_or_signup').modal('show').find('input[name=next]').val($(e.target).data('appstoreAppUrl'));
            });
        });
        </script>
    {% endif %}
    
    {% block extra_body %}{% endblock %}

</body>
</html>
