{% extends 'site_base.html' %}

{% load bootstrap_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}


{% block body %}
<h1>{{ object.feature|capfirst }}</h1>

<div class="row-fluid">
    <div class="span4">
        
        <h2 data-toggle="next">{% trans 'Columns' %}</h2>
        <div class="filter-box">
            <form method="post" action="">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <input type="submit" value="{% trans 'Save' %}" />
            </form>
        </div>
    </div>

    <div class="span8">
        <div class="context-search">
            <form method="get" action="">
                {% if request.GET.q %}
                <span class="clear-q">&times;</span>
                {% endif %}
                <input type="text" name="q" value="{{ request.GET.q }}" />
                <input type="submit" value="{% trans 'Search' %}" class="btn alt fixed-button" />
            </form>
        </div>
        <div class="bloc-content">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fusion/dragtable.css" />
{% endblock %}

{% block extra_body %}
{% block jquery_ui %}
    <script src="{{ STATIC_URL }}form_designer/jquery-ui.js" type="text/javascript"></script>
{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}fusion/jquery.dragtable.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.clear-q').click(function() {
            $(this).next().val('');
            $(this).parent().submit();
            $(this).remove();
        });

        $('table').dragtable({dragHandle:'.some-handle'});
    });
</script>
{% endblock %}
